{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block headimg %}
    <div class="conatiner-fluid">
        <img src="{% static 'blog/images/head.jpg' %}" style="width:100%;" alt="">
    </div>
{% endblock headimg %}

{% block imag %}
    {% include "blog/imagslide.html" %}
{% endblock imag %}

{% block msg %}
    <div class="text-center my-3">
        {% for message in messages %}
            {% if message.tags %}
                {% for message in messages %}
                    <p class="alert alert-{{message.tags}}"><strong>{{ message }}</strong></p>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock msg %}

{% block content %}
    <div class="col-sm-8">
        {% if post %}
            {% for pst in post reversed %}
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4 my-3"><strong style="font-family: 'Lora', serif;" >{{ pst.title }}</strong></h1>
                        <hr class="bg-dark">
                        <p class="lead" style="font-family: 'Cormorant Garamond', serif;">{{ pst.descpt }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="col-sm-3 offset-1 text-center">
        <small style="font-family: 'Lora', serif;">ABOUT ME <hr></small>
        <div>
            <img src="{% static 'blog/images/rohit.jpg' %}" class="rounded-circle" style="width:41%; height:18vh;" alt="ProfilePic">
        </div>
        <p class="mt-1" style="font-family: 'Raleway', sans-serif;">Hi, I am Rohit, A Data Scientist with newly attained skills, an extreme intellectual curiosity, 
        and the ability to mine hidden treasure sited within enormous sets of structured, semi-structured and 
        unstruxtured data </p>
        <div class="text-center">
            <a href="https://twitter.com/ROHITSO65956292/" target="_blank"><i class="fab fa-twitter fa-fw fa-lg"></i></a>
            <a href="https://instagram.com/rohit__r.s?igshid=bmtbago9vc3m" target="_blank"><i class="fab fa-instagram fa-lg fa-fw text-danger"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook fa-lg fa-fw"></i></a>
            <br><br><br>
        </div>
    </div>
{% endblock content %}

