{% extends 'blog/base.html' %}{% load static %}
{% block msg %}
    <div class="text-center my-3">
        {% for message in messages %}
            {% if message.tags %}
                <p class="alert alert-success"><strong>{{ message }}</strong></p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock msg %}

{% block content %}
    <div class="col-sm-5 offset-3">
        <h3 class="mt-5">Be An Author</h3>
        <hr class="bg-light">
        <div>
            <form action="" method="post" autocomplete="off" novalidate>
                {% csrf_token %}
                {% if spform %}
                    <div class="form-group">
                        {% for form in spform %}
                            {{ form.label_tag }} {{ form }} <small class="text-warning">{{ form.errors|striptags }}</small> <br>
                        {% endfor %}
                    </div>
                {% endif %}
                <hr class="bg-light">
                <button type="submit" class="btn btn-info">Signup</button>
                <a href=" {% url 'login' %} "><button type="submit" class="btn btn-success">Login</button></a>
            </form>
            {% if non_field_errors %}
                {% for error in non_field_errors %}
                    <p class="alert alert-danger my-3">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
